* {
  padding: 0;
  margin: 0;
}

.app {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
}

.scores-container {
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.score-card {
  border: 1px solid black;
  padding: 20px 50px;
  border-radius: 10px;
}

.event-list {
  padding: 20px;
}

.event-list-item {
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
