.all-quotes {
  background-color: #7fb;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #fc8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
