* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#5cccbc, #326b86);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__box {
  box-shadow: 0px 0px 5px 0px #6f6f71;
  border-radius: 8px;
  overflow: hidden;
  padding: 25px;
  width: 380px;
  background-color: white;
}

.h__todo {
  font-weight: bold;
}

#taskName {
  width: 280px;
  height: 38px;
  padding-left: 10px;
}

.img {
  width: 20px;
  margin-bottom: 1px;
}

.btnn1 {
  background-color: #a067ed;
  border: 2px solid #a067ed;
  padding: 5px 10px;
  border-radius: 2px;
}

.btnn1:hover {
  background-color: #802dad;
  border: 2px solid #802dad;
}

.list-items {
  width: 328px;
  height: 36px;
  text-align: left;
  padding: 8px 0px 32px 10px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 5px;
}

.button {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p {
  font-size: 17px;
}

.btnn2 {
  background-color: #6401ef;
  border: 2px solid #6401ef;
  padding: 6px 11px;
  border-radius: 2px;
  color: white;
}

.btnn2:hover {
  background-color: #6a00ff;
  border-color: #6a00ff;
}

.form {
  display: flex;
  align-items: stretch;
}
